@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  
}
h1{
  font-family: 'Righteous', cursive;
}
.container {
  display: flex;
  min-height: 80vh;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: black;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.todoForm {
  display: flex;
  justify-content: space-around;
  width: 450px;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

button {
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 0 5px;
  background-color:black;
  color:whitesmoke;
  font-weight: bold;
  border:2px solid black;
}
.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
}
.singleTodo {
  background: rgba( 255, 255, 255, 1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 10px 0;
  padding: 10px 20px;
  display: flex;
  width: 400px;
  align-items: center;
  min-height: 30px;
}
.todoText {
  flex: 1;
}
.delete{
  color:rgb(255, 0, 0);
}
.edit{
  color:#000080;
  margin-right:18px;
}

